venv/
__pycache__/
.venv/
.env
*.pyc
.DS_Store
scratch/

# jupyter
*.ipynb
.ipynb_checkpoints/

# large data
data/raw_audio/
data/aligned_json/
data/chunks
*.wav
*.mp3
*.jsonl

# model weights
models/
!models/.gitkeep

# outputs
output/
